{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <br>
    <div>
    <h2 style="margin-top: 60px; margin-bottom: 20px;">Our <span style="color: #0d6efd;">Mission!</span></h3>
    <p class="lead">
        We are an organization that is passionately committed to promoting the well-being and interests of all those involved in the telecommunications industry. Our mission is to serve as a unifying force, advocating for the rights and prosperity of telecommunications professionals, employees, and stakeholders.
    </p>
    <p class="lead" style="font-style: oblique;">Who we are?</p>
    <p class="lead">
        <span style="color: #0d6efd; font-size: 24px;">Telecommunication Trade Union</span> is a dynamic and inclusive organization that brings together individuals and entities from various sectors of the telecommunications industry. Established with the vision of fostering collaboration, knowledge sharing, and advocacy, we are driven by a shared passion for innovation, progress, and equitable treatment within the field.
    </p>
<hr class="featurette-divider">
<h2 style="margin-bottom: 20px;">Our <span style="color: #0d6efd;">team!</span></h2>
</div>
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
            <h2>Victor Olatunde</h2>
            <p>Back-end Developer.</p>
            <p><a class="btn btn-primary" href="https://github.com/Re1gns">View github &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
            <h2>Kouti Divine</h2>
            <p>Front-end Developer.</p>
            <p><a class="btn btn-primary" href="https://github.com/divine016/">View github &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    
            <h2>Kyrillos Maher</h2>
            <p>Back-end Developer.</p>
            <p><a class="btn btn-primary" href="https://github.com/cyril-777/">View github &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <hr class="featurette-divider">
</body>
</html>

{% endblock %}