{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us!</title>
</head>
<body>
    <br></br>
    <h2 style="margin-top: 30px; margin-bottom: 20px;">Contact us now!</h2>
    <form action="/contact-us/" method="post">
        {% csrf_token %}
            {% if form.errors %}
	            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Please make sure you entered a valid email address and try again!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
            {% endif %}	
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <br>
        <input type="submit" value="Submit" class="btn btn-primary">
     </form>
</body>
</html>

{% endblock %}