{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
</head>
<body>
    <h1 style="margin-top: 90px; margin-bottom: 20px;">Frequently <span style="color:#0d6efd">Asked</span> Questions</h1>
    <p class="lead">Quick answers to questions you may have.</p>
    <br></br>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How can I become a member of Telecommunication Trade Union?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Joining Telecommunication Trade Union is easy!</strong> Visit our "<i>Membership</i>" page and follow the step-by-step instructions to become a member. You'll need to fill out a membership application, provide necessary information. Once your application is processed, you'll be a proud member of our union.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What benefits do members receive?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>As a member of Telecommunication Trade Union</strong>, you enjoy numerous benefits, including access to exclusive events, workshops, and training programs. You also have a voice in shaping our organization's policies and can participate in important decisions. Additionally, members receive regular updates on industry news and labor developments.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How can I stay informed about union events and updates?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>We make it easy for our members to stay informed.</strong> Visit our "<i>News and Updates</i>" page regularly to find the latest information about union events, news, and announcements. You can also subscribe to our newsletter to receive email notifications about upcoming events, meetings, and important updates directly in your inbox.
            </div>
          </div>
        </div>
      </div>
</body>
</html>

{% endblock %}
