{% extends 'base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <br>
    <!-- <h4>Image here with some text</h4> -->
    <main  style="height: 100vh; margin: -70px -160px 0 -160px; background:linear-gradient(70deg, rgb(255, 253, 237), #94d2fe);">
        <div class="landing-page" style=" padding:170px ; margin-top: 10px; display: flex; height: 70vh; justify-content: space-between; align-items: center;">
            <div class="text-container" style=" z-index: 10;">
                <div class="text" style="margin-right: -100px ;">
                    <h2 style="font-size: 54px; padding-top: 200px; color: rgb(61, 61, 61);"> You make us stronger!!</h2>
                    <p style="color: rgb(60, 60, 60);"> We are a one big family and we care about your growth and well being.</p>
                </div>
                <div class="join-link">
                    <a href="/membership" class="btn btn-primary">Join Now!</a>
                </div>  
            </div>
            <div class="landing-image" style="  margin-top: 40px; ">
             <img style=" z-index: -1;width: 730px; rotate: -9deg;" src="{% static 'images/header2.png' %}" alt="an image here">
            </div>
        </div>
    </main>

    <h1 style="padding: 40px 0; font-size: 60px;">News <span style="color: #94d2fe;">&</span> Updates</h1>
    <div class="row mb-2">
        {% for post in featured_posts %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Featured</strong>
                    <h3 class="mb-0">{{ post.title|truncatechars:25 }}</h3>
                    <div class="mb-1 text-muted">{{ post.created_at|date:"M d" }}</div>
                    <p class="card-text mb-auto">{{ post.content|truncatechars:130|safe }}</p>
                    <a href="{% url 'post_detail' post.slug %}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{ post.header_image.url }}" alt="{{ post.title }}" width="200" height="250">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- START THE HIGHLIGHTS & SERVICES -->

    <hr class="featurette-divider">
    <h1 style="padding: 40px 0; font-size: 60px;">Highlights <span style="color: #94d2fe;">&</span> Services</h1>

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Representing <span style="color:#0d6efd">Telecommunication</span> Workers. <span class="text-muted">Empowering the Industry.</span></h2>
          <p class="lead">At Telecommunication Trade Union, we are dedicated to representing the interests of telecommunication workers. Our mission is to empower the industry and ensure fair treatment for all workers.</p>
        </div>
        <div class="col-md-5">
          <img src="{% static 'images/representation.png' %}" alt="Representing Workers" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
      </div>
      
      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Advocating for <span style="color:#0d6efd">Fair Labor</span> Practices. <span class="text-muted">Your Rights, Our Priority.</span></h2>
          <p class="lead">We are committed to advocating for fair labor practices within the telecommunication industry. Our team works tirelessly to ensure that your rights and well-being are our top priority.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="{% static 'images/advocating.png' %}" alt="Fair Labor Practices" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
      </div>
      
      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Educating and <span style="color:#0d6efd">Empowering</span> Members. <span class="text-muted">Knowledge is Power.</span></h2>
          <p class="lead">Telecommunication Trade Union offers educational programs and resources to empower our members. We believe that knowledge is power, and we are here to support your growth and development.</p>
        </div>
        <div class="col-md-5">
          <img src="{% static 'images/educating.png' %}" alt="Education and Empowerment" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
        </div>
      </div>
      
      <hr class="featurette-divider">

    <!-- /END THE HIGHLIGHTS & SERVICES -->
    
    <h1 style="font-size: 60px;">Frequently <span style="color:#0d6efd">Asked</span> Questions</h1>
    <p class="lead">Quick answers to questions you may have.</p>
    <br></br>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How can I become a member of Telecommunication Trade Union?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>Joining Telecommunication Trade Union is easy!</strong> Visit our "<i>Membership</i>" page and follow the step-by-step instructions to become a member. You'll need to fill out a membership application, provide necessary information. Once your application is processed, you'll be a proud member of our union.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What benefits do members receive?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>As a member of Telecommunication Trade Union</strong>, you enjoy numerous benefits, including access to exclusive events, workshops, and training programs. You also have a voice in shaping our organization's policies and can participate in important decisions. Additionally, members receive regular updates on industry news and labor developments.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How can I stay informed about union events and updates?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>We make it easy for our members to stay informed.</strong> Visit our "<i>News and Updates</i>" page regularly to find the latest information about union events, news, and announcements. You can also subscribe to our newsletter to receive email notifications about upcoming events, meetings, and important updates directly in your inbox.
            </div>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Need to know more?</h1>
          <p class="col-md-8 fs-4">If you're still having questions about our organization, services, or how to get involved, we're here to help. Feel free to reach out to us for further information. We're dedicated to providing you with the information and support you need.</p>
          <a class="btn btn-primary btn-lg" type="button" href="/contact-us">Contact us</a>
        </div>
      </div>
      <br></br>
</body>
</html>

{% endblock %}