{% extends 'base.html' %}

{% block content %}
    <h1 class="title" style="margin-top: 90px; margin-bottom: 20px;">{{ post.title }}</h1>

    <small class="card-text text-muted h6">Posted at {{ post.created_at }}</small>
    <hr>
    {% if post.header_image %}
    <img src="{{ post.header_image.url }}" width="500" height="600"> <br></br>
    {% endif %}
    <p>{{ post.content|safe }}</p>

    <hr>
    <h2>Comments</h2>
    <br>
    <ul>
        {% for comment in comments %}
        <figure>
            <blockquote class="blockquote">
              <p>{{ comment.content }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              By {{ comment.author }} <cite title="Source Title">- {{ comment.created_at }}</cite>
            </figcaption>
          </figure>
            <!-- <strong>{{ comment.author }} - {{ comment.created_at }}</strong>
            </br>
            <p>{{ comment.content }}</p> -->
        {% empty %}
            <li>No comments yet...</li>
        {% endfor %}

    </ul>

    <h3>Add a Comment</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>

{% endblock %}