{% extends 'blog/base.html' %}


{% block content %}
    <h1>Membership</h1>
    {% if request.user.is_authenticated %}
        <p>Welcome, {{ request.user.username }}!</p>
        {% if user_profile.is_member %}
            <p>You are already a member.</p>
        {% else %}
            <p>Would you like to become a member?</p>
            <form method="post">
                {% csrf_token %}
                <button class= "btn btn-primary" type="submit" name="action" value="join">Join Us</button>
            </form>
        {% endif %}
    {% else %}
        <p>Would you like to become a member?</p>
        <form method="post">
            {% csrf_token %}
            <button class= "btn btn-primary" type="submit" name="action" value="join">Join Us</button>
        </form>
        <p>Please <a href="{% url 'login' %}">log in</a> to become a member.</p>
    {% endif %}
{% endblock %}