{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body >
    {% if user.is_authenticated %}
    <h3 style="margin-top: 70px; font-size: 34px; padding: 15px;">
      {{ profile }}'s profile page!
    </h3>

      {% if is_member %}
        <div class="alert alert-success" role="alert">
          You're a beloved Member of Our Union!
        </div>
        <a id="cancel_membership" href="{% url 'cancel_membership' %}" class="btn btn-outline-danger" style="margin-bottom: 50px;">Cancel Membership?</a>
      
            <!-- Vertical Tabs Section -->
    <div class="row mt-4">
      <div class="col-md-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-resources-tab" data-bs-toggle="pill" href="#v-pills-resources" role="tab" aria-controls="v-pills-resources" aria-selected="true">Resources</a>
              <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
      </div>
      <div class="col-md-9">
          <div class="tab-content" id="v-pills-tabContent">
              <!-- Resources Tab Content -->
              <div class="tab-pane fade show active" id="v-pills-resources" role="tabpanel" aria-labelledby="v-pills-resources-tab">
                  <h4>Resources</h4>
                  <p>Here you can find helpful resources.</p>
                  <ul>
                    <p><h5>Need Representation?</h5></p>
                    <p><h5>Legal Assistance?</h5></p>
                    <p><h5>Protection at Work?</h5></p>
                    <p><h5>Need Some Other Help? <a href="{% url 'contact-us' %}">Contact Us</a> now.</h5></p>
                  </ul>
                  <!-- More resources content here -->
              </div>

              <!-- Settings Tab Content -->
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                  <h4>Settings</h4>
                  <p>Adjust your profile settings here.</p>
                  <form>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
                    </div>
                    <div class="mb-3">
                      <label for="date_joined" class="form-label">Date Joined</label>
                      <input type="datetime" class="form-control" id="date_joined" value="{{ user.date_joined }}" readonly>
                  </div>
                  <div class="mb-3">
                    <label for="membership_status" class="form-label">Membership Status</label>
                    <div class="input-group">
                        <span class="input-group-text bg-success text-white">&#10004;</span>
                        <input type="text" class="form-control" id="membership_status" value="Active" readonly>
                    </div>
                </div>
                    <!-- More settings content here -->
                </form>
                  <button type="button" class="btn btn-secondary">Change Password</button>
                  <a id="cancel_membership" href="{% url 'cancel_membership' %}" class="btn btn-danger">Cancel Membership</a>
                  <!-- More links and Buttons here -->
              </div>
          </div>
      </div>
  </div>
</div>
      {% else %}
        <div class="alert alert-danger" role="alert">
          You're not a Member of Our Union yet!
        </div>
        <a href="{% url 'join' %}" class="btn btn-success">Join Now!</a>
        <hr>
                    <!-- Vertical Tabs Section -->
    <div class="row mt-4">
      <div class="col-md-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-resources-tab" data-bs-toggle="pill" href="#v-pills-resources" role="tab" aria-controls="v-pills-resources" aria-selected="true">Resources</a>
              <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
      </div>
      <div class="col-md-9">
          <div class="tab-content" id="v-pills-tabContent">
              <!-- Resources Tab Content -->
              <div class="tab-pane fade show active" id="v-pills-resources" role="tabpanel" aria-labelledby="v-pills-resources-tab">
                  <h4>Resources</h4>
                  <small><i>Available for Members only!</i></small>
                  <!-- More resources content here -->
              </div>

              <!-- Settings Tab Content -->
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                  <h4>Settings</h4>
                  <p>Adjust your profile settings here.</p>
                  <form>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
                    </div>
                    <div class="mb-3">
                      <label for="date_joined" class="form-label">Date Joined</label>
                      <input type="datetime" class="form-control" id="date_joined" value="{{ user.date_joined }}" readonly>
                  </div>
                  <div class="mb-3">
                    <label for="membership_status" class="form-label">Membership Status</label>
                    <div class="input-group">
                        <span class="input-group-text bg-danger text-white">&#10006;</span>
                        <input type="text" class="form-control" id="membership_status" value="Not a member" readonly>
                    </div>
                </div>
                    <!-- More settings content here -->
                </form>
                  <button type="button" class="btn btn-secondary">Change Password</button>
                  <a class="btn btn-success" href="{% url 'join' %}">Join Now!</a>
                  <!-- More links and Buttons here -->
              </div>
          </div>
      </div>
  </div>
</div>
      {% endif %}

    {% else %}
    <li class="nav-item">
      <h3> You're Not Logged In!</h3>
    </li>
    {% endif %}
    <hr class="featurette-divider">
</body>
</html>
{% endblock %}
