{% extends 'blog/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h3>
      {{ profile }}'s profile page!
    </h3>

      {% if is_member %}
        <div class="alert alert-success" role="alert">
          You're a beloved Member of Our Union!
        </div>
        <a href="{% url 'membership' %}" class="btn btn-outline-danger">Cancel Membership?</a>
      {% else %}
        <div class="alert alert-danger" role="alert">
          You're not a Member of Our Union yet!
        </div>
        <a href="{% url 'join' %}" class="btn btn-success">Join Now!</a>
      {% endif %}

    {% else %}
    <li class="nav-item">
      <h3> You're Not Logged In!</h3>
    </li>
    {% endif %}
</body>
</html>
{% endblock %}