{% extends 'blog/base.html' %}

{% block content %}
    <h1 style="font-size: 44px; margin: 90px 0 25px 0;">Events</h1>
    {% for event in events %}
    <div class="card mb-4" >
      <div class="card-body">
        <h2 class="card-title">{{ event.title }}</h2>
        <p class="card-text text-muted h6">{{ event_date }} - {{ event.event_date }} </p>
        <p class="card-text">{{event.content|slice:":200"|safe }}</p>
        <a href="{% url 'event_detail' event.slug %}" class="btn btn-info">Learn More &rarr;</a>
      </div>
     
    </div>
    {% endfor %}
{% endblock %}