{% extends 'blog/base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <br>
    <!-- <h4>Image here with some text</h4> -->
    <div class="landing-page" style=" padding: 40px ; margin-top: 10px; display: flex; height: 70vh; justify-content: space-between; align-items: center;">
        <div class="text-container">
            <div class="text" style="margin-right: -100px;">
                <h2> You makes us stronger!!</h2>
                <p> We are one big family and we care about your growth and well being</p>
            </div>
            <div class="join-link">
                <a href="/membership" class="btn btn-primary">Join Now! &rarr;</a>
            </div>  
        </div>

        <div class="landing-image" style=" width: 100px; height: 100px; background:linear-gradient(70deg,  rgb(248, 189, 189));">
         <img src="" alt="an image here">
        </div>
    </div>
    

    <hr>
    <h4>Some News and Updates</h4>
        <div class="post">
            {% for post in featured_posts %}
            <h2>{{ post.title }}</h2>
            <p class="card-text text-muted h6">{{ author }} | {{ post.created_at}} </p>
            <p class="card-text">{{post.content|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.slug %}" class="btn btn-link">Continue Reading &rarr;</a>
            <hr>
            {% endfor %}
        </div>
</body>
</html>

{% endblock %}