{% extends 'blog/base.html' %}

{% block content %}
    <h1>Join Us</h1>
    <p>Welcome, {{ request.user.username }}! Please tell us more about yourself and complete the form below to become a member.</p>
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag|safe }}
                {{ field }}
            </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Join Now</button>
    </form>
    <br>
{% endblock %}