{% extends 'blog/base.html' %}

{% block content %}

<br>
<img src="https://img.freepik.com/free-vector/3d-cartoon-style-curved-sheet-paper-with-green-checkmark-icon-approved-document-contract-agreement-flat-vector-illustration-information-success-paperwork-concept_778687-988.jpg?w=826&t=st=1693366347~exp=1693366947~hmac=cd557d29829f52348a870c013a529b7209bc7b16134b842f1c7bf21824f9fb60" style="width: 50%; display: block; margin-left: auto; margin-right: auto;">
<h2 style="text-align:center; color:green;">You've Successfully Joined!</h2>

{% endblock %}